############################
# R project files
############################
.Rproj.user
.Rhistory
.RData
.Ruserdata
.rmd_snakemake.Rproj.user

############################
# Snakemake
############################
.snakemake

############################
# Project data + outputs
############################
data
results
resources/genome*

############################
# SLURM logs (HPC addition)
############################
results/slurm_logs

############################
# OS / system files
############################
.DS_Store
Thumbs.db
